// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

.card-custom{
  padding: 10px;
  border: $color-border-card;
  box-shadow: $box-shadow-card;
}
